<%- include('../partials/header') %>
<main>
    <h1><%= title %></h1>

    <form class="whole-form" method="POST" action="/projects/<%= projectId %>/tasks/<%= edit ? `${taskId}/edit` : 'add' %>">
        <div class="form-div">
            <label for="title">Task Title</label>
            <input type="text" id="title" name="title" value="<%= task.name %>" minlength = "2" maxlength = "100" required>
        </div>

        <div class="form-div">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="10" maxlength = "65536">
                <%= task.description %>
            </textarea>
        </div>

        <div class="form-div">
            <input type="checkbox" id="archived" name="archived" value="archived" <% if (task.archived) { %> checked <% } %>>
            <label for="archived">Archived</label>
        </div>

        <div class="form-div">
            <input type="checkbox" id="general" name="general" value="general" <% if (task.general) { %> checked <% } %>>
            <label for="general">General or Delegated - General = checked, Delegated = unchecked</label>
        </div>

        <div class="form-div">
            <label for="priority">Priority</label>
            <input type="number" id="priority" name="priority" value= <%= task.priority %> min: 1 max: 10>
        </div>

        <button type="submit"><%= edit ? 'Update Task' : 'Add Task' %></button>
    </form>
</main>
<%- include('../partials/footer') %>