<%- include('../partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="details">
        <h3>Archival Status: <%= task.archived ? 'archived' : 'active' %></h3>
        <h3>Task Type: <%= task.general ? 'general' : 'delegated' %></h3>
        <h3>Status: <%= task.status %></h3>
        <h3>Created by: <%= task.creatorName %> on <%= task.created_at %></h3>
        <h3>Last updated on: <%= task.updated_at %></h3>
        <p><%= task.description %></p>
    </div>
    <% 
        const currentUser = typeof isLoggedIn !== 'undefined' && isLoggedIn ? user : null;
        const canAccept = currentUser && (currentUser.roleName === 'employee' || currentUser.roleName === 'admin') && (!task.archived) &&
                          (!task.general) && task.status === 'created';
        const canComplete = currentUser && (currentUser.roleName === 'employee' || currentUser.roleName === 'admin') && (!task.archived) &&
                            (task.general && task.status === 'created') || ((!task.general) && task.status === 'accepted');
     %>

    <% if (canAccept) { %> 
        <form method="POST" action="/projects/<%= projectId %>/tasks/<%= task.id %>/accept">
            <button type="submit">Accept Task</button>
        </form>
    <% } %>

    <% if (canComplete) { %> 
        <form method="POST" action="/projects/<%= projectId %>/tasks/<%= task.id %>/complete">
            <button type="submit">Mark Task Complete</button>
        </form>
    <% } %>
</main>
<%- include('../partials/footer') %>